/vendor/
/node_modules/

# Laravel specific
.env
.env.backup
.env.local
.env.*.backup
.env.testing

/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*.php

# Composer & NPM
composer.phar
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE & Editor
/.idea
/.vscode
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# Laravel Homestead
Homestead.yaml
Homestead.json

# Laravel Vapor
.vapor/
.vapor.json

# Laravel Forge
.env.forgetest

# Logs
*.log

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*
.pnp.js
.pnp.cjs
.pnp.loader.mjs
